body{
    background-color: white;
    font-family:  Arial, sans-serif;
    margin: 0;
    
}

    .form-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        padding: 30px;
        background-color:red;
        border-radius: 5px;
        box-shadow: 3px 4px rgb(135, 46, 46);
       
    }

    form{
        display: flex;
        flex-direction: column;
    }
    label{
         margin-top: 6px;
    }

    input{
        padding: 5px;
        border: 3px solid orange;
    }
    button{
        background-color:purple;
        color: white;
        cursor: pointer;
        padding:9px ;
        font-size: 16px;
    }
    h2{
        margin-bottom: 7px;
    }
    


    

